<!DOCTYPE html>
<html>
  <head>
    <title>Large</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://www.w3schools.com/w3css/4/w3.css',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://use.fontawesome.com/421bdc1e30.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
